:root {
  --default-bg-1: linear-gradient(
    162.17deg,
    #057085 1.24%,
    #22545f 32.79%,
    #002129 98.63%
  );
  --default-bg-2: #22545f;
  --default-bg-3: white;
  --default-text-1: #0e687a;
  --default-text-2: white;
  --default-text-3: black;
}

/* /////////////////////////////////////////////////// */
/*  ////////////////// Custom //////////////////*/
/* //////////////////////////////////////////////// */
/* scrollbar */
/* /////////////////////////////// */
/* ////////////////Scrollbar/////// */
/* //////////////////////////////// */
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px !important;
}
*::-webkit-scrollbar {
  width: 6px;
  background-color: gray;
  border-radius: 10px !important;
}
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px !important;
  background-clip: padding-box;
}
/* inside scrollbar */
.insideScrollBar::-webkit-scrollbar-track {
  margin: 10px 0 !important;
  /* visibility: hidden !important; */

  background-color: gray;
}
.insideScrollBar::-webkit-scrollbar {
  /* visibility: hidden !important; */
  width: 6px;
}
/* Horizontal */
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px !important;
}
*::-webkit-scrollbar {
  height: 12px;
  background-color: gray;
  border-radius: 10px !important;
}
*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px !important;
  background-clip: padding-box;
}

/* Alert */
.myAlert-top {
  position: fixed;
  top: 5px;
  left: 2%;
  width: 96%;
  z-index: 9999;
}
/* Loader */
.spanner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: block;
  text-align: center;
  height: 300px;
  color: #fff;
  transform: translateY(-50%);
  z-index: 1000;
  visibility: hidden;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  z-index: 999;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #fff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.show {
  visibility: visible;
}

.spanner,
.overlay {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.spanner.show,
.overlay.show {
  opacity: 1;
}

/* /////////////////////////////////////////////////// */
/*  ////////////////// dashboard //////////////////*/
/* //////////////////////////////////////////////// */
.active_tab_dashboard {
  border-bottom: 2px solid #d1a94a;
}
.home_page_main_container {
  height: calc(100vh - 160px);
  overflow: auto;
}
.ongoing_card {
  background: var(--default-bg-3);
  color: var(--default-text-3);
  margin: 10px 0px 0px;
  height: 90px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}
.ongoing_card img {
  width: 90%;
}
.ongoing_card > div {
  margin-bottom: 5px;
  display: flex;
  width: 95%;
  justify-content: space-between;
}
.ongoing_card > div .result_box_home {
  padding-top: 10px;
  width: 30%;
  display: flex;
  justify-content: flex-start;
}
.ongoing_card > div .result_box_home p {
  background: var(--default-bg-2);
  padding: 2px 0px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: bold;
}
.ongoing_card > div .result_box_home p > span {
  background-color: var(--default-bg-3);
  border-radius: 5px;
  margin: 0px 1px;
  padding: 1px 2px;
  font-weight: bold;
}
.ongoing_card > div img {
  height: 35px;
  width: 35px;
}
.ongoing_card > div .home_time_box {
  font-size: 11px;
  font-weight: 500;
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
.upcoming_combo {
  padding-top: 5px;
}
